{% extends 'base.html' %}
{% block title %}Vista previa de cambios{% endblock %}

{% block content %}
<div class="container">
  <h2>Vista previa de cambios</h2>
  {% if records and records|length > 0 %}
    <table>
      <thead>
        <tr>
        <!-- tus columnas -->
        <th>Acción</th>
        </tr>
      </thead>
      <tbody>
        {% for cama in camas %}
        <tr>
        <!-- tus celdas de cama -->
        <td>
          {% if cama.estado == "Ocupada" %}
        <form method="post" action="{{ url_for('main.desocupar_cama') }}">
          <input type="hidden" name="bed_id" value="{{ cama.bed_id }}">
          <button type="submit" class="btn btn-warning">Desocupar</button>
        </form>
          {% endif %}
        </td>
        </tr>
          {% endfor %}
      </tbody>
    </table>
    <form method="post" action="{{ url_for('main.apply_update') }}">
      <input type="hidden" name="filename" value="{{ filename }}">
      <button type="submit">Aplicar cambios</button>
    </form>
  {% else %}
    <p>No hay datos para mostrar.</p>
  {% endif %}
</div>
{% endblock %}
